<div id="lrr">
	<div class="lrr-header"><%= image_tag 'header.png' %></div>
	<div class="lrr-navbar"><%= image_tag 'navbar.png' %></div>
	<div class="lrr-divider"><%= image_tag 'divider.png' %></div>
	<div class="lrr-invite"><%= image_tag 'invite.png' %></div>
	<div class="lrr-divider"><%= image_tag 'divider.png' %></div>
	<div class="lrr-activities"><%= image_tag 'activities.png' %></div>
	<div class="lrr-flags"><%= image_tag 'flags.png' %></div>
	<div class="lrr-about"><%= image_tag 'about.png' %></div>
	<div class="lrr-divider"><%= image_tag 'divider.png' %></div>
</div>