<!DOCTYPE html>
<html>
<head>
  <title>Little Red Rocks</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "mobile", :media => "screen" %>
  <%= javascript_include_tag "application" %>
  <%= render 'layouts/shim' %>
  <%= csrf_meta_tags %>
</head>

<body>

<%= yield %>

</body>
</html>
